---
layout: default
---


<br>Hi! 
<br>Welcome to my website. My name is Cadence Planthara and I am currently living in so-called Toronto, Canada. 
<br>
<br>I make functional objects. My primary curiosity is centred around coming into better relationship with others (this in a very expanded sense), and the connection between play and transformation. I love working with children and plants. 
<br>
<br>I have been studying astrology since 2013, giving prepared natal consultations since --,and am currently available to read for you (more info on that here). 
<br>
<br>For information about upcoming and past exhibitions, see the News section. For a list of books I'm currently thinking about, click here. 
<br>
<br>I will do what I can to keep this website up to date!
<br>
<br>Thanks for reading. Please be in touch if you'd like: I welcome questions. 
 
<!-- this goes away for now <ul>
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul> -->

  {% for post in site.store %}
<br> <a href="{{ post.url }}"><u>{{ post.title }}</u></a>, {{post.location}} 
{% endfor %}

{% include footer.ext %}