<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/styles.css">
  </head>
  <body onload="return ran_col()">
    <script type="text/javascript">
        function ran_col() {
            var color = '#';
            var letters = ['e3cdb1','d2b79f','cba47c','D3B2A0','deac96','d6aa87','dea88d','d9b791'];
            color += letters[Math.floor(Math.random() * letters.length)];
            document.body.style.backgroundColor = color;
          }
    </script>
{% include header.ext %}
<div class="main"> {{content}} </div>
</body>
</html>