---
layout: default
---


ongoing phone photos, last updated 08/08/2020
<br>(see also: @cplanth) 
<br>

<!-- this goes away for now <ul>
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul> -->

  {% for post in site.misc_img %}
<br> <img src="{{post.image}}" class="misc_img">
<br> 
{% endfor %}

<br>
<br>
<br>
<p><b>QUESTIONS:</b>
<ul>
<li>how can I get a "last updated" at the top of misc_img? and an rss feed? could I post updates from my phone?</li>
<li>how to add the date API to the front page....... can I make it so the days of the week link to info about the planets?</li>
<li>how to make the index page 2 columns on a big screen? (responsive q)</li>
<br>
<li> um also sry can u tell me about keychain again</li>
</ul>
<br><b>TO DO:</b>
<ul>
<li><s>look into stripe API</s> I? want to elect a time to start using stripe lol: must wait until eclipse season is over</li>
<li><s>change bgcolor colours to more readable ones</s></li>
<li> seriously think about the store -- I want a grid? maybe? this returns to responsive questions ~~ mobile first, I know, but</li>
<li>look into screen readers</li>
<br>
<br>


</ul>

{% include footer.ext %}
