---
layout: default
---


<br> Functional objects for sale, for use : prices are in USD and include shipping. More pottery photos are posted on my instagram account @czpceramics. I welcome comissions, and especially love making specific planters for specific plants. Please <a href="mailto:cadencecadence@gmail.com">contact me</a> to discuss.




<!-- this goes away for now <ul>
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul> -->

  {% for post in site.store %}
<br> <a href="{{post.url}}"><u>{{ post.title }}</u></a>, {{post.location}} class="store">
{% endfor %}

{% include footer.ext %}